{%extends 'base.html'%}
{%block content%}
<div class = "container mt-4">
   <h3>List Of Companies You Applied in -</h3>
   <div class = "row">
      {%for job in jobs%}
         <div class = "col-md-4 md-4">
            <div class = "card">
               <div class = "card-body" style = "background-color: whitesmoke">
                  <h5 class = "card-title">{{job.company_name}}</h5>
                  <p class = "card-text"><strong>Role:</strong> {{job.role}}</p>
                  <p class = "card_text"><strong>Location:</strong> {{job.office_location}}
                  <p class = "card-text"><strong>status:</strong> {{job.status }}</p>
                  <p class = "card-text"><strong>Salary:</strong> {{job.salary }}</p>
                  <p class = "card-text"><strong>Date Of Application:</strong> {{job.date_of_application }}</p>
                  <p class = "card-text"><strong>Source:</strong> {{job.source_of_application }}</p>
                  <p class = "card-text"><strong>Your Note:</strong> {{job.notes }}</p>
               </div>
            </div>
         </div>              
      {% endfor %}
   </div>
</div>

           

{%endblock%}
          
