{%extends 'base.html'%}
{%load static%}
{% block content %}



<p> This is body section of home page</p>
<h1>Welcome>>></H1>
<div>
<img src = "https://images.unsplash.com/photo-1698047681432-006d2449c631?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style = "width:1500px; height : 500px">

</div>
<div class="container mt-4">
    <h2>My Job Applications</h2>
    <div class="row">
        <div class="col-md-4">
             <a href="{% url 'jobs_by_status' 'applied' %}" style="text-decoration:none;">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Applied</h5>
                    <h1 class="card-text">{{ applied }}</h1>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-4">
             <a href="{% url 'jobs_by_status' 'rejected' %}" style="text-decoration:none;">
            <div class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <h5 class="card-title">Rejected</h5>
                    <h1 class="card-text">{{ rejected }}</h1>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'jobs_by_status' 'review' %}" style="text-decoration:none;">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-body">
                        <h5 class="card-title">review</h5>
                        <h1 class="card-text">{{ review }}</h1>
                    </div>
                </div>
            </a>
     </div>
     <div class="col-md-4">
        <a href="{% url 'jobs_by_status' 'shortlisted' %}" style="text-decoration:none;">
            <div class="card text-white bg-info mb-3">
                <div class="card-body">
                    <h5 class="card-title">Shortlisted</h5>
                    <h1 class="card-text">{{ shortlisted }}</h1>
                </div>
            </div>
        </a>
     </div>

     <div class="col-md-4">
        <a href="{% url 'jobs_by_status' 'interview_scheduled' %}" style="text-decoration:none;">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Interview Scheduled</h5>
                    <h1 class="card-text">{{ interview_scheduled }}</h1>
                </div>
            </div>
        </a>
     </div>

     <div class="col-md-4">
            <a href="{% url 'jobs_by_status' 'interview_completed' %}" style="text-decoration:none;">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Interview Completed</h5>
                        <h1 class="card-text">{{ interview_completed }}</h1>
                    </div>
                </div>
            </a>
      </div>

      <div class="col-md-4">
            <a href="{% url 'jobs_by_status' 'offer' %}" style="text-decoration:none;">
                <div class="card text-white bg-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Offer Received</h5>
                        <h1 class="card-text">{{ offer }}</h1>
                    </div>
                </div>
            </a>
       </div>

       <div class="col-md-4">
            <a href="{% url 'jobs_by_status' 'accepted' %}" style="text-decoration:none;">
              <div class="card text-white bg-success mb-3">
                    <div class="card-body">
                       <h5 class="card-title">Accepted</h5>
                       <h1 class="card-text">{{ accepted }}</h1>
                    </div>
                </div>
            </a>
       </div>
    </div>
</div>


{% endblock %}